<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       <h1> Vishal / N01546838</h1>
       <nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
   
    <li><a href="/api/sales/insert">Insert Invoice</a></li>
    <li><a href="/api/sales/searchInvoiceno">Search Invoice</a></li>
    
     <li><a href="/api/Allsales">View Data</a></li>
  </ul>
</nav>
    </header>

    <main>
            
    {{{body}}}
    </main>
    <footer>
        kanakamamidivishal@gmail.com
    </footer>
  </body>
</html>